# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.test
.env.local
.env.development
.env.production

# Frontend assets compiled code
src/public/assets/*

# API documentation
#swagger.*

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode
.zed

# Platform specific
.DS_Store
nginx/certs
